.TaskList {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.TaskList .search {
    width: 100%;

}

.TaskList .tasklists {
    width: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}


.TaskList .search .searchDishs {
    width: 50%;
    float: right;

}

.TaskList .yourCart {
    width: 100%;
    margin: auto;
    border-top: 2px solid gray;
}

.TaskList .yourCart .Checkout {
    width: 100%;
}