.item {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.item img {
    position: relative;
}
.item .overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #48cfad8c;
    height: 300px;
    transition-duration: 0.5s;
}
.item .show {
    opacity: 1!important;
}
.item .overlay .ant-btn {
    display: none;
}

.item:hover .ant-btn {
    display: block;
}
.item:hover .overlay{
    opacity: 1;
}
.desc {
    padding: 5px 10px;
}