.blockCard {
    display: flex;
    padding: 12px;
    margin-bottom: 2px;
    background-color: #ffffff;
}

@media only all and (max-width: 768px) {
    .blockCard {
        flex-direction: column;
    }
}