/* .App {
    margin: auto;
    width: 300px;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 10px;
  } */
.App {
  display: flex;
}
.App .model {
  width: 300px;
  border: 1px solid #ccc;
  font-size: 20px;
  padding: 10px;
  margin-right: 30px;
}
.App .model b {
  display: flex;
  justify-content: center;
}
.App .todoList {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.App input[type='text']{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #7a7a7a;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.App input[type='button'] {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.App input[type='button']:hover {
  background-color: #bbb;
  border: 1px solid #555;
}
  