.App {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}
.App .model {
  width: 300px;
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 10px;
  margin-right: 30px;
  border-radius: 5px;
}
.App .model b {
  display: flex;
  justify-content: center;
}
.action div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.action div .ant-input {
  max-width: 200px;
}
  