* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
.app {
  display: flex;
  padding: 15px;
  background-color: #e0e0e0;
}

@media only all and (max-width: 992px) {
  .app {
    flex-direction: column;
  }
}